<div class="container px-4  py-5 my-5 text-center bg-white">
  <h1 style="margin:0; color:$greenblue" class="greenblue text-center"> &#128664; Vos trajets 🌴</h1>
   <%= link_to new_trajet_path, {:class => "btn btn-primary", :style => "color: aliceblue;"} do   %>
            Nouveau
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg>
  <% end %>
  <div class = "container">
    <% @trajets.each do |trajet| %>
      <%= link_to trajet_path(trajet), {:style => "text-decoration: none; color:black"} do %>
        <div class="card ctn mx-auto mt-4 w-mid col-12 col-md-6">
          <div class="card-body text-start" id="card-designs">
            <p>
            <%= render 'depart' %>
            Adresse de départ: <%= trajet.origin_addresse %></p>
            <p>
              <%= render 'destination' %>
              Adresse de destination: <%= trajet.destination_addresse %>
            </p>
            <p>
              <%= render 'distance' %>
              Distance: <%= trajet.distance %>
            </p>
            <p>
              <%= render 'temps' %>
              Temps avec traffic: <%= trajet.time_with_traffic(params[:time] || "now")
              %>
            </p>
            <p>
                    <%= render 'wtraffic' %>
            Temps sans traffic: <%= trajet.time_without_traffic  %>
            </p>
          <div class="d-flex justify-content-evenly">
            <%= link_to pages_home_path, {:class => "btn btn-light", :style => "color: black;"} do   %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <% end %>
            <%=  link_to edit_trajet_path(trajet), {:class => "btn btn-success", :style => "color: aliceblue; text-decoration: none;"} do %>
            Modifier
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            <% end %>
            <%= link_to trajet_path(trajet),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "btn btn-red" do %>
            Supprimer
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>
</div>
