

<div class="p-8 m-0 bg-light mx-auto col-10 rounded-3 container-fluid py-5">
  <h1 style="margin:0; color:$greenblue" class="greenblue text-start"> &#128664; Vos trajets </h1>
  <hr style="color:#093742; margin:0!important;">
  <hr style="color:#093742;">
    <%= form_tag trajets_path,class: "text-center mt-8" , method: :get do %>
      <p><%= label_tag 'Quand souhaitez vous partir ?'%></p>
      <div class="text-center ctn"> 1h <%= range_field_tag :time,
        params[:time],
        min: 0,
        max: 12,
        value: params[:time].to_i || 0,
        step: 1
      %> 12h
        <%= submit_tag "Go", class: "btn btn-primary rounded" %>
  </div>
  <% end %>
</div>
<!---->

<div class="cards_container" style="margin-top:0;">
  <%= image_tag('carte', id: 'main_map', class: "rounded-3") %>
  <%= image_tag('fdfstpierre', id: 'fdfstpierre', class: "trajets #{'bouchon' if Trajet.find(8).bouchon?(params[:time] || "now")}") %>
  <%= image_tag('fdflamentin', id: 'fdflamentin', class: "trajets #{'bouchon' if Trajet.find(1).bouchon?(params[:time] || "now")}") %>
  <%= image_tag('fdftrinite', id: 'fdftrinite', class: "trajets #{'bouchon' if Trajet.find(2).bouchon?(params[:time] || "now")}") %>
  <%= image_tag('lamentinrivieresalee', id: 'lamentinrivieresalee', class: "trajets #{'bouchon' if Trajet.find(3).bouchon?(params[:time] || "now")}") %>
  <%= image_tag('marinfrancois', id: 'marinfrancois', class: "trajets #{'bouchon' if Trajet.find(4).bouchon?(params[:time] || "now")}") %>
  <%= image_tag('rivieresaleetroisilets', id: 'rivieresaleetroisilets', class: "trajets #{'bouchon' if Trajet.find(5).bouchon?(params[:time] || "now")}") %>
  <%= image_tag('rivieresaleelemarin', id: 'rivieresaleelemarin', class: "trajets #{'bouchon' if Trajet.find(7).bouchon?(params[:time] || "now")}") %>
</div>


<% @trajets.each do |trajet| %>
  <%= link_to trajet_path(trajet), {:style => "text-decoration: none; color:black"} do %>
    <div class="card ctn mx-auto mt-4 w-mid col-12 col-md-6">
      <div class="card-body" id="card-designs">
        <p>
        <svg version="1.1" id="Layer_1" height="32" width="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#FF6243;" d="M256.001,0h-0.003C146.45,0,57.325,89.138,57.325,198.704c0,77.385,32.292,155.541,93.387,226.02
	c45.458,52.438,90.65,82.241,92.551,83.484c3.868,2.529,8.301,3.792,12.733,3.792h0.005c4.43,0,8.864-1.264,12.73-3.792
	c0.984-0.642,24.407-16.05,54.309-43.905c35.15-32.745,64.002-68.2,85.754-105.384c30.445-52.042,45.881-105.947,45.881-160.216
	C454.677,89.139,365.55,0.002,256.001,0z M256.001,245.223c-25.665,0-46.545-20.88-46.545-46.545s20.88-46.545,46.545-46.545
	s46.545,20.88,46.545,46.545S281.666,245.223,256.001,245.223z"/>
<path style="fill:#FF0C38;" d="M243.264,508.208c3.868,2.529,8.301,3.792,12.733,3.792h0.003V245.223
	c-25.665,0-46.545-20.88-46.545-46.545s20.88-46.545,46.545-46.545V0h-0.003C146.45,0,57.325,89.138,57.325,198.704
	c0,77.385,32.292,155.541,93.387,226.02C196.171,477.162,241.362,506.965,243.264,508.208z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
        Adresse de départ: <%= trajet.origin_addresse %></p>
        <p><?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" height="32" width="32" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512.005 512.005;" xml:space="preserve">
<path style="fill:#C2FB3B;" d="M418.909,201.885c-6.949-3.311-14.179-6.116-21.627-8.428c-0.551-0.171-1.094-0.361-1.646-0.526
	c-7.103-2.122-14.417-3.752-21.887-4.892c-0.464-0.07-0.922-0.158-1.386-0.225c-7.218-1.035-14.587-1.592-22.077-1.648
	c-0.4-0.003-0.797-0.022-1.196-0.022c-20.185,0-39.525,3.694-57.377,10.437c-8.294,3.131-16.257,6.94-23.845,11.325
	c-24.86,14.364-45.593,35.097-59.947,59.963c-2.14,3.703-4.152,7.488-5.998,11.366c-0.76,1.597-1.471,3.219-2.177,4.847
	c-0.36,0.836-0.721,1.669-1.071,2.512c-0.703,1.697-1.398,3.401-2.048,5.125c-1.336,3.544-2.566,7.137-3.658,10.791
	c-2.254,7.543-3.973,15.318-5.117,23.273c-1.092,7.604-1.669,15.372-1.669,23.273c0,1.998,0.048,3.986,0.121,5.967
	c0.016,0.419,0.029,0.838,0.047,1.255c0.084,1.905,0.197,3.803,0.348,5.691c0.031,0.388,0.068,0.774,0.102,1.162
	c0.144,1.677,0.313,3.345,0.509,5.007c0.04,0.355,0.078,0.711,0.119,1.064c0.225,1.804,0.486,3.598,0.768,5.384
	c0.087,0.545,0.175,1.088,0.268,1.631c0.295,1.745,0.607,3.483,0.956,5.208c0.092,0.447,0.194,0.889,0.289,1.334
	c0.292,1.382,0.605,2.755,0.931,4.125c0.149,0.617,0.292,1.237,0.447,1.851c0.397,1.579,0.818,3.148,1.261,4.709
	c0.195,0.684,0.4,1.365,0.604,2.046c0.344,1.154,0.701,2.302,1.072,3.446c0.285,0.883,0.574,1.762,0.874,2.638
	c0.406,1.19,0.825,2.374,1.26,3.551c0.278,0.751,0.555,1.5,0.844,2.245c0.54,1.404,1.094,2.802,1.673,4.188
	c0.002,0.005,0.003,0.011,0.006,0.016c0.388,0.929,0.801,1.848,1.202,2.769c0.349,0.791,0.697,1.581,1.057,2.366
	c0.414,0.901,0.836,1.798,1.264,2.69c0.403,0.836,0.815,1.668,1.23,2.496c0.41,0.815,0.815,1.631,1.237,2.437
	c0.797,1.524,1.612,3.033,2.454,4.527c0.303,0.538,0.624,1.067,0.934,1.601c0.649,1.117,1.303,2.231,1.975,3.331
	c0.369,0.604,0.746,1.199,1.122,1.798c0.68,1.08,1.373,2.15,2.076,3.213c0.341,0.514,0.68,1.029,1.024,1.538
	c1.052,1.548,2.119,3.084,3.222,4.594c4.586,6.279,9.61,12.218,15.03,17.774c5.469,5.61,11.34,10.826,17.562,15.605
	c27.463,21.088,61.803,33.646,99.025,33.646c89.828,0,162.909-73.079,162.909-162.909C512,284.196,473.899,228.077,418.909,201.885z
	"/>
<path style="fill:#FF6243;" d="M198.676,0.002c-0.002,0-0.002,0-0.003,0C89.124,0.002,0,89.14,0,198.706
	c0,77.385,32.292,155.541,93.387,226.02c45.458,52.438,90.65,82.241,92.551,83.484c3.868,2.527,8.301,3.792,12.733,3.792
	c0.002,0,0.002,0,0.003,0c4.431,0,8.864-1.264,12.73-3.792c0.804-0.524,16.595-10.915,38.659-29.895
	c-6.223-4.779-12.093-9.995-17.562-15.605c-5.418-5.556-10.442-11.495-15.03-17.774c-1.103-1.51-2.171-3.046-3.222-4.594
	c-0.346-0.509-0.683-1.026-1.024-1.538c-0.703-1.063-1.395-2.133-2.076-3.213c-0.375-0.599-0.751-1.196-1.122-1.798
	c-0.673-1.102-1.328-2.214-1.975-3.331c-0.309-0.535-0.63-1.063-0.934-1.601c-0.842-1.494-1.657-3.005-2.454-4.527
	c-0.422-0.807-0.827-1.623-1.237-2.437c-0.416-0.829-0.827-1.66-1.23-2.496c-0.428-0.892-0.852-1.789-1.264-2.69
	c-0.36-0.785-0.707-1.576-1.057-2.366c-0.403-0.922-0.815-1.839-1.202-2.769c-0.003-0.005-0.005-0.011-0.006-0.016
	c-0.579-1.385-1.133-2.783-1.673-4.188c-0.287-0.745-0.566-1.494-0.844-2.245c-0.433-1.178-0.853-2.361-1.26-3.551
	c-0.299-0.875-0.59-1.755-0.874-2.638c-0.369-1.143-0.728-2.292-1.072-3.446c-0.203-0.681-0.408-1.362-0.604-2.046
	c-0.442-1.561-0.864-3.129-1.261-4.709c-0.155-0.614-0.298-1.233-0.447-1.851c-0.326-1.368-0.638-2.743-0.931-4.125
	c-0.095-0.445-0.197-0.887-0.289-1.334c-0.351-1.725-0.663-3.463-0.956-5.208c-0.093-0.543-0.182-1.086-0.268-1.631
	c-0.284-1.786-0.545-3.579-0.768-5.384c-0.042-0.354-0.079-0.711-0.119-1.064c-0.195-1.662-0.365-3.33-0.509-5.007
	c-0.034-0.388-0.071-0.774-0.102-1.162c-0.15-1.888-0.264-3.786-0.348-5.691c-0.019-0.417-0.033-0.836-0.047-1.255
	c-0.073-1.981-0.121-3.969-0.121-5.967c0-7.9,0.577-15.669,1.669-23.273c1.143-7.955,2.863-15.729,5.117-23.273
	c1.092-3.652,2.323-7.247,3.658-10.791c0.65-1.724,1.345-3.427,2.048-5.125c0.349-0.842,0.711-1.676,1.071-2.512
	c0.706-1.626,1.417-3.25,2.177-4.847c1.846-3.879,3.859-7.663,5.998-11.366c14.355-24.866,35.086-45.599,59.947-59.963
	c7.59-4.385,15.551-8.192,23.845-11.325c17.853-6.743,37.193-10.437,57.377-10.437c0.4,0,0.797,0.019,1.196,0.022
	c7.488,0.056,14.857,0.613,22.077,1.648c0.464,0.067,0.922,0.155,1.385,0.225c7.471,1.14,14.784,2.769,21.887,4.892
	c0.552,0.166,1.095,0.355,1.646,0.526C394.491,86.308,306.472,0.004,198.676,0.002z M198.676,245.224
	c-25.665,0-46.545-20.88-46.545-46.545s20.88-46.545,46.545-46.545s46.545,20.88,46.545,46.545S224.341,245.224,198.676,245.224z"/>
<g>
	<polygon style="fill:#FFFFFF;" points="382.284,298.464 349.091,331.654 349.091,331.656 	"/>
	<polygon style="fill:#FFFFFF;" points="349.091,331.656 349.091,331.654 328.921,351.824 	"/>
</g>
<path style="fill:#79AB03;" d="M328.921,351.824l-1.7-1.699l-12.874-12.873c-1.449-1.449-3.053-2.641-4.743-3.627
	c-8.912-5.204-20.53-4.012-28.169,3.627c-0.028,0.028-0.048,0.057-0.076,0.084c-3.392,3.423-5.502,7.635-6.332,12.043
	c-1.376,7.301,0.756,15.135,6.408,20.786l5.871,5.871l17.233,17.233l7.925,7.925c4.544,4.544,10.501,6.816,16.455,6.816
	c5.956,0,11.913-2.271,16.455-6.816l3.714-3.716l66.104-66.104c9.089-9.089,9.089-23.825,0-32.914
	c-9.087-9.087-23.824-9.087-32.912,0l-33.188,33.196L328.921,351.824z"/>
<path style="fill:#9CDD05;" d="M291.714,196.581c-8.294,3.131-16.257,6.94-23.845,11.325c-24.86,14.364-45.593,35.097-59.947,59.963
	c-2.14,3.703-4.152,7.488-5.998,11.366c-0.76,1.596-1.471,3.219-2.177,4.847c-0.36,0.836-0.721,1.669-1.071,2.512
	c-0.703,1.697-1.398,3.401-2.048,5.125c-1.336,3.544-2.566,7.137-3.658,10.791c-2.254,7.543-3.973,15.318-5.117,23.273
	c-1.092,7.604-1.669,15.372-1.669,23.273c0,1.998,0.048,3.986,0.121,5.967c0.016,0.419,0.029,0.838,0.047,1.255
	c0.084,1.905,0.197,3.803,0.348,5.691c0.031,0.388,0.068,0.774,0.102,1.162c0.144,1.677,0.313,3.345,0.509,5.007
	c0.04,0.355,0.078,0.711,0.119,1.064c0.225,1.804,0.486,3.598,0.768,5.384c0.087,0.545,0.175,1.088,0.268,1.631
	c0.295,1.745,0.607,3.483,0.956,5.208c0.092,0.447,0.194,0.889,0.289,1.334c0.292,1.382,0.605,2.755,0.931,4.125
	c0.149,0.617,0.292,1.237,0.447,1.851c0.397,1.579,0.818,3.148,1.261,4.709c0.195,0.684,0.4,1.365,0.604,2.046
	c0.344,1.154,0.701,2.302,1.072,3.446c0.285,0.883,0.574,1.762,0.874,2.638c0.406,1.19,0.825,2.374,1.26,3.551
	c0.278,0.751,0.555,1.5,0.844,2.245c0.54,1.404,1.094,2.802,1.673,4.188c0.002,0.005,0.003,0.011,0.006,0.016
	c0.388,0.929,0.801,1.848,1.202,2.769c0.349,0.791,0.697,1.581,1.057,2.366c0.414,0.901,0.836,1.798,1.264,2.69
	c0.403,0.836,0.815,1.668,1.23,2.496c0.41,0.815,0.815,1.631,1.237,2.437c0.797,1.524,1.612,3.033,2.454,4.527
	c0.303,0.538,0.624,1.067,0.934,1.601c0.649,1.117,1.303,2.231,1.975,3.331c0.369,0.604,0.746,1.199,1.122,1.798
	c0.68,1.08,1.373,2.15,2.076,3.213c0.341,0.514,0.68,1.029,1.024,1.538c1.052,1.548,2.119,3.084,3.222,4.594
	c4.586,6.279,9.61,12.218,15.03,17.774c5.469,5.61,11.34,10.826,17.562,15.605c27.463,21.088,61.803,33.646,99.025,33.646V397.48
	v-0.002l-3.714,3.714c-4.544,4.544-10.501,6.816-16.455,6.816c-5.956,0-11.913-2.271-16.455-6.816l-7.925-7.925l-17.234-17.233
	l-5.871-5.871c-5.652-5.651-7.784-13.484-6.408-20.786c0.83-4.408,2.942-8.62,6.332-12.043c0.028-0.028,0.048-0.057,0.076-0.084
	c7.64-7.64,19.257-8.83,28.169-3.627c1.69,0.987,3.294,2.178,4.743,3.627l12.874,12.873l1.694,1.699l20.17-20.17v-23.125v-50.01
	v-50.012v-22.362C328.906,186.144,309.566,189.838,291.714,196.581z"/>
<path style="fill:#FF0C38;" d="M185.94,508.21c3.868,2.527,8.301,3.792,12.733,3.792c0.002,0,0.002,0,0.003,0v-100.43
	c-0.003-0.005-0.005-0.011-0.006-0.016c-0.579-1.386-1.133-2.783-1.673-4.188c-0.289-0.745-0.566-1.494-0.844-2.245
	c-0.433-1.178-0.853-2.361-1.26-3.551c-0.299-0.875-0.59-1.755-0.874-2.638c-0.369-1.143-0.728-2.292-1.071-3.446
	c-0.203-0.681-0.408-1.362-0.604-2.046c-0.442-1.561-0.864-3.129-1.261-4.709c-0.155-0.614-0.298-1.233-0.447-1.851
	c-0.326-1.368-0.638-2.743-0.931-4.125c-0.095-0.445-0.197-0.887-0.289-1.334c-0.351-1.725-0.663-3.463-0.956-5.208
	c-0.093-0.543-0.182-1.086-0.268-1.631c-0.284-1.786-0.545-3.579-0.768-5.384c-0.042-0.354-0.079-0.711-0.119-1.064
	c-0.195-1.662-0.365-3.33-0.509-5.007c-0.033-0.386-0.071-0.774-0.101-1.162c-0.15-1.888-0.264-3.786-0.348-5.691
	c-0.019-0.417-0.031-0.836-0.047-1.255c-0.073-1.981-0.121-3.969-0.121-5.967c0-7.9,0.577-15.669,1.669-23.273
	c1.143-7.955,2.863-15.729,5.117-23.273c1.092-3.654,2.323-7.247,3.658-10.791c0.65-1.724,1.345-3.427,2.048-5.125v-41.368
	c-25.665,0-46.545-20.88-46.545-46.545s20.88-46.545,46.545-46.545V0.002c-0.002,0-0.002,0-0.003,0C89.124,0.002,0,89.14,0,198.706
	c0,77.385,32.292,155.541,93.387,226.02C138.845,477.165,184.038,506.966,185.94,508.21z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
Adresse de destination: <%= trajet.destination_addresse %>
</p>
    <%= link_to new_trajet_path, {:class => "btn btn-light", :style => "color: black;"} do   %>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
    </svg>
      <% end %>
      <%= link_to new_trajet_path, {:class => "btn btn-primary", :style => "color: aliceblue;"} do   %>
        Nouveau
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
      <% end %>
    <%=  link_to edit_trajet_path(trajet), {:class => "btn btn-success", :style => "color: aliceblue; text-decoration: none;"} do %>
      Modifier
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
      <% end %>
    <%= link_to trajet_path(trajet),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "btn btn-red" do %>
      Supprimer
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
    </svg>
    <% end %>
      </div>
    </div>
  <% end %>
<% end %>
