<h1>Mes trajets</h1>

<%= link_to 'Nouveau', new_trajet_path %>

<% @trajets.each do |trajet| %>
  <div>
    <p><%= trajet.origin_addresse %>
    <p><%= trajet.destination_addresse %><p>
  </div>
  
  <%=  link_to 'Modifier', edit_trajet_path(trajet)%>
  <%= link_to 'Supprimer', trajet_path(trajet), method: :delete %>
<% end %>
