<h1>Mes trajets</h1>


<p><%= link_to 'Nouveau', new_trajet_path %></p>


<%= link_to 'Nouveau', new_trajet_path, :class => "btn btn-success" %>


<% @trajets.each do |trajet| %>
  <%= link_to trajet_path(trajet) do %>
  <div>
    <p><%= trajet.origin_addresse %>
    <p><%= trajet.destination_addresse %><p>
  </div>

  <% end %>
  <%=  link_to 'Modifier', edit_trajet_path(trajet)%>
  <%= link_to 'Supprimer', trajet_path(trajet), method: :delete %>


  <%=  link_to 'Modifier', edit_trajet_path(trajet), :class => "btn btn-primary" %>
  <%= link_to 'Supprimer', trajet_path(trajet), method: :delete, :class => "btn btn-primary"%>

<% end %>
