<h1>Mon trajet</h1>

<p>Adresse de départ: <%= @trajet.origin_addresse %>
<p>Adresse de destination: <%= @trajet.destination_addresse %><p>
<p>Temps avec traffic: <%= @trajet.time_with_traffic %><p>
<p>Temps sans traffic: <%= @trajet.time_without_traffic %><p>
<p>Distance: <%= @trajet.distance %><p>

<%= link_to 'Mes trajets', trajets_path %>
<%= link_to 'Nouveau trajet', new_trajet_path %>
<%  link_to 'Modifier', edit_trajet_path(@trajet)%>
